# +--------------+
# | Custom Alias |
# +--------------+

alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"

# +---------------+
# | Kubectl Alias |
# +---------------+
alias k="kubectl"

# +------------+
# | Helm Alias |
# +------------+
alias h="helm"
